<div class="flex items-center">
  <span
    class="mr-3 text-xl font-semibold"
    [class.text-blue-800]="tempUnitControl.value === 'C'"
    >C</span
  >
  <label class="relative inline-flex items-center cursor-pointer">
    <input
      type="checkbox"
      formControlName="tempUnitControl"
      class="sr-only peer"
      (change)="updateTempValue()"
    />
    <div
      class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
  </label>
  <span
    class="ml-3 text-xl font-semibold"
    [class.text-blue-800]="tempUnitControl.value === 'F'"
    >F</span
  >
</div>
