<div class="w-screen h-screen p-24 bg-[#DBF3FA]">
  <div class="w-full h-full p-10 border rounded-lg bg-[#FFFFFFCC]">
    <p class="text-gray-500 text-center font-bold m-4">
      Welcome to <span class="text-blue-500">Skysense</span> App, your ultimate
      destination for up-to-date and accurate weather information.
    </p>

    <div class="flex w-full justify-between items-center">
      <app-location-search
        class="flex-1"
        (locationConfirm)="setLocationData($event)"
      ></app-location-search>

      <div *ngIf="currentWeather?.location">
        <button
          *ngIf="
            favoriteLocations?.includes(currentWeather?.location?.name ?? '');
            else nonFavorite
          "
          class="p-4 flex-none"
          (click)="removeFavorite(currentWeather.location.name)"
        >
          <img
            src="/assets/icons/favorite.png"
            class="w-10 h-10"
            alt="favorite"
          />
        </button>
        <ng-template #nonFavorite>
          <button
            class="p-4 flex-none"
            (click)="setFavorite(currentWeather.location.name)"
          >
            <img src="/assets/icons/not-favorite.png" class="w-10 h-10"
            alt="nonFavorite" />
          </button>
        </ng-template>
      </div>
      <app-temp-switcher
        class="flex-none"
        *ngIf="currentWeather?.current"
      ></app-temp-switcher>
    </div>
    <app-weather-card
      [displayCelsius]="displayCelsius"
      [weatherData]="currentWeather"
    ></app-weather-card>

    <div
      *ngIf="favoriteLocations?.length"
      class="p-4 mt-10 bg-[#DBF3FA] border rounded-lg"
    >
      <div class="text-2xl text-bold p-4 mb-4 text-blue-500">
        Access your favorite locations faster
      </div>
      <div class="flex flex-wrap gap-y-12">
        <div
          *ngFor="let location of favoriteLocations"
          (click)="setLocationData(location)"
          role="button"
          tabindex="1"
        >
          <div
            class="p-4 mr-4 flex items-center bg-[#FFFFFF] border rounded text-gray-500 cursor-pointer"
          >
            <img src="/assets/icons/favorite.png" class="w-4 h-4 mr-2" alt="favorite"/>

            {{ location }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
